* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: HackFont, FontAwesomeMono, monospace;
  font-size: 18px;
}

.module {
  border-radius: 12px;
  padding: 2px 12px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
  transition-property: background-color;
  transition-duration: 0.5s;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;

  /* Avoid rounded borders under each button name */
  padding: 2px;
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px white;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  padding: 0 6px;
  background-color: transparent;
  color: #fff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: #64727d;
  box-shadow: inset 0 -3px #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: #a37800;
}

#window {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #64727d;
}

#battery {
  color: black;
  background-color: #fff;
}

#battery.charging,
#battery.plugged {
  color: #fff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #fff;
    color: #000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #fff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #fff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #fff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000;
}

/*------------------------------------------------------*/

label:focus {
  background-color: #000;
}

/*-----------------------STATS--------------------------*/

#stats .module {
  margin: 0 0;
}

#cpu {
  background-color: #2ecc71;
  color: #000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#memory {
  background-color: #9b59b6;
  border-radius: 0;
}

#temperature {
  background-color: #f0932b;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#temperature.critical {
  background-color: #eb4d4b;
}

/*------------------------------------------------------*/

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

/*--------------------PULSEAUDIO------------------------*/

#pulseaudio {
  background-color: #f1c40f;
  color: #000;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

/*----------------------TRAY----------------------------*/

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/*------------------IDLE INHIBITOR----------------------*/

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

/*------------------------------------------------------*/

#language {
  background: #00b093;
  color: #740864;
  min-width: 1.5em;
}

#custom-notification,
#custom-power {
  margin: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
